*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    background-color:rgb(223, 223, 218);
}

form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:400px;
    width:300px;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:20px;
    padding-bottom:15px;
    border-radius:10px;
    background-color:rgb(234, 230, 230);
    
}

.inp{
    width:80%;
    height:20px;
    border:1.5px solid black;
    background-color:rgb(76, 75, 75);
    border-radius:3px;
    margin:auto;
    margin-top:0px;
    color:white;
}

.inp:hover{
    border:1.5px solid rgb(115, 149, 223);
}

.inphead{
    font-size:10px;
    margin-left:10%;
    margin-bottom:5px;

}

.labels{
    margin-left:25px;
}

#important,#emergency,#urgent,#no-rush{
    margin-right:5px;
    margin-bottom:5px;
}

.labeli{
    color:rgb(228, 228, 6);
}

.labele{
    color:red;
}
.labelu{
    color:orange;
}     

.labelnr{
    color:green;
}

.btn{
    width:80%;
    margin-left:10%;
    margin-bottom:5px;
    border-radius:5px;
    border:1.5px solid black;
}

.btns-box{
    margin-top:15px;
    margin-bottom:5px;
}

form div div{
    height:18px;
    width:100px;
    background-color:rgb(250, 52, 52);
    padding-left:100px;
    font-size:15px;
}

.form-add{
    height:250px;
    width:400px;
    /* border:1px solid black; */
    border-radius:10px;
    margin:auto;
    margin-top:150px;
    display:none;
    flex-direction:row;

}

.btn-add{
    height:200px;
    width:50px;
    /* border:1px solid black; */
    margin-top:25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}

.btn-add button{
    height:30px;
    width:30px;
    border-radius:50%;
    border:1.5px solid black;
    font-size:15px;
    font-weight:900px;
    margin:5px;
}
.stack-main{
    height:240px;
    width:300px;
    /* border:1px solid black; */
    border-radius:10px;
    margin:auto;
    margin-top:25px;
    position:relative;
}
.stack{
    height:200px;
    width:280px;
    border:1px solid black;
    border-radius:10px;
    background-color:rgb(153, 153, 239);
    margin-left:10px;
    position:absolute;
    z-index:20;

}
.stack1{
    height:200px;
    width:280px;
    border:1px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-top:10px;
    background-color:pink;
    position:absolute;
    z-index:10;
}

.stack2{
    height:200px;
    width:280px;
    border:1px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-top:20px;
    background-color:yellow;
    position:relative;
    z-index:8;
}

.stack .image{
    height:40px;
    width:40px;
    border-radius:50%;
    background-image:url("https://images.unsplash.com/photo-1778110827897-6dc6b6f7c988?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDh8dG93SlpGc2twR2d8fGVufDB8fHx8fA%3D%3D");
    margin:10px;
    background-size: cover;
}
.stack .card-name{
    margin-left:10px;
}

.stack .card-city{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:7px;
    padding-left:7px;
    padding-right:7px;
}

.stack .card-book{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:7px;
    padding-left:7px;
    padding-right:7px;
}

.colors{
    height:200px;
    width:50px;
    /* border:1px solid black; */
    margin-top:25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.yellow{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:yellow;
    margin-bottom:5px;

}

.red{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:red;
    margin-bottom:5px;
}

.orange{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:orange;
    margin-bottom:5px;
}

.green{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:green;
    margin-bottom:5px;
}

.stack .card-btn{
    margin-left:7px;
    margin-top:12px;
    width:100px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.stack .card-btn button{
    padding:3px;
    border-radius:3px;
    border:1.5px solid rgb(8, 8, 8);
    background-color:rgb(202, 202, 240); ;
}